<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordEmailSent</title>
</head>
<body>
    <h1>Test Forgot Password Email Sent</h1>
    <p>An email has been sent to reset your password!</p>
</body>
</html>
