<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Test Login</h1>
    <form asp-controller="Home" asp-action="Login" method="post">
        <input type="text" name="email" value="" />
        <input type="text" name="password" value="" />
        <button type="submit">Login</button>
    </form>
    <br />
    @Html.ActionLink("Click here to reset Password!", "ForgotPassword", "Home")
</body>
</html>
