@model _04_IdentityResetPassword.ViewModels.ResetPassword

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <h1>Test ResetPassword</h1>
    <form asp-controller="Home" asp-action="ResetPassword" method="post">
        <input type="text" name="password" value="" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>
