<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordEmailSent</title>
</head>
<body>
    <h1>Test Reset Password Email Sent</h1>
    <p>An email has been sent to your email to reset your password!</p>
</body>
</html>
