@model _04_IdentityResetPassword.ViewModels.ResetPassword
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <h1>Test ResetPassword</h1>
    <form asp-controller="Home" asp-action="ResetPassword" method="post">
        <input asp-for="@Model.Token" type="hidden" />
        <input asp-for="@Model.UserId" type="hidden" />
        <input asp-for="@Model.NewPassword" value="" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>
