<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyEmailSent</title>
</head>
<body>
    <h1>Test Verify Email Sent</h1>
    <p>An email has been sent to verify your account!</p>
</body>
</html>
