<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <h1>Test Profile</h1>
    <form asp-controller="account" asp-action="logout">
        <div>
            <button type="submit">Logout!</button>
        </div>
    </form>
</body>
</html>
