<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LegacyAdminProfile</title>
</head>
<body>
    <h1>Test Legacy Admin Profile</h1>
    <p>Used for demonstrating the idea of using ClaimType.Roles.</p>
</body>
</html>
