<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LegacyAdminProfile2</title>
</head>
<body>
    <h1>Test Legacy Admin Profile 2</h1>
    <p>Used for demonstrating the idea of requiring a Role via Policy.</p>
</body>
</html>
